.Home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Home ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Home li {
    display: inline-block;
    margin: 20px;
}

.Home p {
  color: white;
  font-size: 25px;
  font-family: helvetica;
}

.Home a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: helvetica;
}

.Home a:hover,
.Home a:active,
.Home a.active {
    color: #fa923f;
}
